h1 {
    color: rgba(0,200,100, 0.8);

    /*Long hand way to define a border*/
    /*border-color: purple;*/
    /*border-width: 5px;*/
    /*border-style: solid ;*/

    /*Compact way to define a border*/

    /*border: 5px solid purple;*/

     /*border: 8px dashed rgb(255,100,80);*/

     border: 1px solid rgb(0,0,0);

}


h4 {
    background: rgb(255,100,80);

}

body {
    /*background: url(https://pre00.deviantart.net/f3cd/th/pre/i/2011/121/8/a/drawn_wood_grain_texture_by_german_popsicle-d3fdjmd.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/

    background-color: blue;


}

